@import 'color.scss';
@import 'responsive.scss';

$pc-height: 150px;

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $pc-height;

  margin: 10px auto;

  background-color: $color-secondary;

  cursor: pointer;

  transition: filter .2s;
  filter: grayscale(100%) hue-rotate(0);

  @include responsive-link {
    filter: grayscale(0%) hue-rotate(10deg);

    .arrow {
      transform: scale3d(1, 1, 1);
      transform-origin: top left;
      transition: transform .2s ease-in;
    }
  }
}

// -----

.thumbnailWrapper {
  top: 0;
  left: 0;
  width: $pc-height;
  height: $pc-height;
  flex-shrink: 0;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// -----

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // width: 100%;
}

$common-margin-left: 20px;

.title {
  margin-left: $common-margin-left;
  font-size: 23pt;
  color: $color-white;
}

// 本当はアニメーションで矢印を引くつもりだったのでこの命名
.arrowWrapper {
  margin-left: $common-margin-left;
  height: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.arrow {
  width: 100%;
  height: 100%;

  transition: transform .4s ease-in;
  transform-origin: top right;
  transform: scale3d(0, 1, 1);
  background-color: $color-white;
}