@import 'color.scss';
@import 'responsive.scss';

$pc-height: 150px;
$sp-height: 100px;

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $pc-height;

  margin: 10px auto;

  background-color: $color-secondary;

  cursor: pointer;

  transition: filter .2s;
  filter: grayscale(100%) hue-rotate(0);

  @media #{$unless-pc} {
    height: $sp-height;
  }

  @include responsive-link {
    filter: grayscale(0%) hue-rotate(10deg);

    .arrow {
      transform: scale3d(1, 1, 1);
      transform-origin: top left;
      transition: transform .2s ease-in;
    }
  }
}

// -----

.thumbnailWrapper {
  top: 0;
  left: 0;
  width: $pc-height;
  height: $pc-height;
  flex-shrink: 0;

  @media #{$unless-pc} {
    width: $sp-height;
    height: $sp-height;
  }
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// -----

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: $pc-height;

  @media #{$unless-pc} {
    height: $sp-height;
  }

  // width: 100%;
}

$pc-margin: 20px;
$sp-margin: 10px;

.title {
  margin: 0 $pc-margin;
  font-size: 23pt;
  color: $color-white;

  @media #{$unless-pc} {
    margin: 0 $sp-margin;
    font-size: 18pt;
  }
}

// 本当はアニメーションで矢印を引くつもりだったのでこの命名
.arrowWrapper {
  margin: 10px $pc-margin;
  height: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @media #{$unless-pc} {
    margin: 10px $sp-margin;
  }
}

.arrow {
  width: 100%;
  height: 100%;

  transition: transform .4s ease-in;
  transform-origin: top right;
  transform: scale3d(0, 1, 1);
  background-color: $color-white;
}