@import 'color.scss';
@import 'responsive.scss';

.container {
  margin-left: 15px;
  transition: color  0.2s ease-out, border-bottom 0.2s ease-out, filter 0.4s ease-in-out;
  border-bottom: 3px $color-black dotted;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.4;
  cursor: pointer;

  &::before {
    content: "[";
    opacity: 0;
  }
  &::after {
    content: "]";
    opacity: 0;
  }
  
  &[data-is-top="1"] {
    &::before {
      opacity: 1;
    }
    &::after {
      opacity: 1;
    }
  }

  @include responsive-link {
    border-bottom: 3px $color-primary dotted;
    color: $color-primary;
    filter: drop-shadow(0 0 3px $color-primary);
  }
  @media #{$unless-pc} {
    font-size: 10pt;
  }
}