@import 'color.scss';
@import 'responsive.scss';

.document {
  // fonts
  h1, h2, h3, h4, h5, h6, li { font-family: 'Noto Sans JP', sans-serif; font-weight: bolder; }
  p                          { font-family: 'Noto Serif JP', serif; }
  h1 {
    margin: 30px 0 20px;
    font-size: 23pt;
  }
  h2{
    margin: 25px 0 10px;
    font-size: 18pt;
  }
  h3, h4, h5 {
    margin: 15px 0 10px;
    font-size: 16pt;
  }
  h1, h2, h3, h4 ,h5 {
    .decorated {
      &::before {
        content: "";
        margin-right: 5px;
        border-left: 3.6px $color-black solid;
      }
    }
  }
  p {
    margin: 10px 0;
    font-size: 12pt;
    line-height: 1.5;
  }
  a {
    color: $color-secondary;
    @include responsive-link {
      color: $color-primary;
    }
  }

  ul {
    margin: 5px 10px;
    font-size: 12pt;
    li {
      margin: 10px 10px;
    }
  }

  img {
    width: 60%;
    transform: translateX(35%);
  }

  table {
    border-spacing: 4px;
    tr {
      td {
        padding: 5px 10px;
        border-bottom: solid 1px #999999;
      }
    }
  }
}