@import "../../styles/responsive.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @media #{$unless-pc} {
    flex-direction: column;
  }
}

.profileImg {
  width: $laptop-max * 0.2;
  margin: 10px;
  flex-shrink: 0;
  @media #{$if-laptop} {
    width: $tablet-max * 0.2;
  }
  @media #{$unless-pc} {
    width: 42.5%;
  }
}

.profileText {
  flex-grow: 1;
  margin: 10px;

  @media #{$unless-pc} {
    width: 100%;
  }
}