.container {
  margin-top: 40px;

  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  & svg {
    font-size: 3.6em;
  }

  & a {
    color: black;
    transition: color 0.2s ease-out;
    &:hover {
      color: #888888;
    }
  }
}