@use "../../../../configs/constants.scss" as c;

.h1 {
  color: c.$color-text-primary;
  font-family: var(--font-signika-negative), sans-serif;
  font-size: 36px;
  line-height: 1.2;

  &[data-is-centered="1"] {
    text-align: center;
  }

  @include c.mq-pc {
    font-size: 42px;
    line-height: 1.5;
  }
}
