@import 'responsive.scss';
@import 'color.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $pc-header-height;

  @media #{$unless-pc} {
    height: $unless-pc-header-height;
  }
}

.logo {
  display: inline-block;
  width: 200px;

  font-size: 17pt;
  font-weight: 600;

  font-family: 'Comfortaa', cursive;

  filter: drop-shadow(2px 3px 0px $color-white);
  
  &, & a { text-decoration: none; }

  opacity: 1;
  transition: opacity 0.4s;
  &[data-is-hide="0"] {
    opacity: 0;
  }

  @media #{$unless-pc} {
    width: 150px;
    font-size: 10pt;
  }
}

.nav {
  flex-grow: 1;

  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;

  font-family: 'Comfortaa', cursive;

  opacity: 1;
  transition: opacity 0.4s;
  &[data-is-hide="1"] {
    opacity: 0;
  }
}