@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
@import 'responsive.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: $pc-header-height;

  font-family: 'Comfortaa', cursive;

  @media #{$unless-pc} {
    height: $unless-pc-header-height;
  }
}

.headerWrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.logo {
  font-size: 17pt;
  font-weight: 600;
  
  &, & a { text-decoration: none; }

  @media #{$unless-pc} {
    margin: 20px auto auto 5px;
  }
}