@import 'responsive.scss';
@import 'color.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: $pc-header-height;

  @media #{$unless-pc} {
    height: $unless-pc-header-height;
  }
}

.logo {
  display: inline-block;
  width: 200px;

  font-size: 17pt;
  font-weight: 600;

  font-family: 'Comfortaa', cursive;
  
  &, & a { text-decoration: none; }

  opacity: 1;
  transition: opacity 0.4s;
  &[data-is-top="false"] {
    opacity: 0;
  }

  @media #{$unless-pc} {
    width: 150px;
    font-size: 10pt;
    margin-left: 10px;
  }
}

.nav {
  flex-grow: 1;

  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;

  font-family: 'Noto Sans JP', sans-serif;

  p span {
    display: inline-block;
    margin-right: 15px;
    line-height: 1.4;
  
    font-size: 14pt;
    font-weight: 300;
  
    border-bottom: 3px $color-black dotted;

    cursor: pointer;
    transition: color  0.2s ease-out, border-bottom 0.2s ease-out, filter 0.4s ease-in-out;
    @include responsive-link {
      color: $color-primary;
      filter: drop-shadow(0 0 3px $color-primary);
      border-bottom: 3px $color-primary dotted;
    }
    &[data-is-top="true"] {
      color: $color-secondary;
      filter: drop-shadow(0 0 3px $color-primary);
      border-bottom: 3px $color-primary dotted;
    }
    @media #{$unless-pc} {
      font-size: 10pt;
    }
  }
}