@use '../../styles/mixins.scss' as mixins;
@use '../../styles/variables.scss' as variables;

.container {
  margin: 0 auto;
  padding: 0;

  width: 100%;
  height: 100%;

  @media (max-width: 799px) {
    width: 100%;
  }

  @include mixins.media-pc {
    width: variables.$content-width-pc;
  }
}