@use "../../../constants.scss" as c;

$mobile-gap: 16px;

.header-profile {
  display: flex;
  flex-direction: column;
  width: 100%;

  // 画像, テキスト間の余白
  // スマホ向け
  gap: $mobile-gap;

  @include c.mq-pc {
    flex-direction: row;
  }

  &__image_container {
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;

    @include c.mq-pc {
      flex-shrink: 0;
      width: 220px;
    }
  }

  &__texts {
    flex-grow: 1;
    padding: 0 8px;

    &__link_list {
      display: inline-flex;
    }
  }
}
