@use "../../../constants.scss" as c;

.header-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;

  @include c.mq-pc {
    flex-direction: row;
  }

  &__image_container {
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;

    @include c.mq-pc {
      flex-shrink: 0;
      justify-content: center;
      width: 220px;
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    &__link_list {
      display: inline-flex;
    }
  }
}
