@import 'responsive.scss';

.layout {
  position: relative;
  width: 100%;
  height: 100%;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.outline-size {
  & > * {
    width: $laptop-max * 0.8;

    @media #{$if-laptop} {
      width: $tablet-max * 0.8;
    }
    @media #{$unless-pc} {
      width: 95%;
    }
  }
}

.header {
  @extend .absolute;
  @extend .outline-size;
  display: flex;
  position: fixed;
  z-index: 2;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.content {
  @extend .absolute;
  @extend .outline-size;
  display: flex;
  z-index: 1;
  right: 0;
  left: 0;
  flex-direction: row;
  justify-content: center;
  width: $laptop-max;
  min-height: 100%;
  margin: auto;
  @media #{$if-laptop} {
    width: $tablet-max;
  }
  @media #{$unless-pc} {
    width: 100%;
  }
}

.background {
  @extend .absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.container {
  @extend .absolute;
  z-index: 2;
  width: 100%;
  //height: 100%;
}