@use '../responsive.scss' as r;
@use '../texts.scss' as t;

.page_inner {
  margin-top: 36px;

  @include r.media-mobile {
    margin-top: 20px;
  }

  @include r.media-mobile {
    padding: 0 8px 0 8px;
  }
}

/* Introduction */
.introduction__profile {
  display: flex;
  flex-direction: row;
  @include r.media-mobile {
    flex-direction: column;
  }
}

.introduction__profile_image {
  margin: 0 10px 0 0;
  @include r.media-mobile {
    margin: 0;
  }
}

.introduction__profile_text {
  @include t.article;
  margin: 0 10px;
  @include r.media-mobile {
    margin: 20px 0;
  }

  h1 {
    @include t.heading;
    margin: 0 auto 20px;
    line-height: 1;
  }

  table {
    $size: 16px;

    margin: 0 auto 8px;
    font-size: $size;
    td {
      &:nth-child(1) {
        width: $size;
        height: $size;
        svg {
          height: $size * 0.82;
        }
      }
      &:not(&:nth-child(1)) {
        padding-left: 4px;
      }
    }
  }
}

/* Section */
.section_container {
  margin-top: 20px;

  h2 {
    @include t.heading;
    margin: 0 auto;
  }
  p {
    @include t.article;
    margin: 0 auto;
  }
}
