@use '../responsive.scss' as r;
@use '../texts.scss' as t;

.page_inner {
  &:not(:first-child) {
    margin-top: 36px;

    @include r.media-mobile {
      margin-top: 20px;
    }
  }

  @include r.media-mobile {
    padding: 0 8px 0 8px;
  }
}

.title {
  @include t.heading;
}

.profile {
  display: flex;
  flex-direction: row;
  @include r.media-mobile {
    flex-direction: column;
  }
}

.profile_image {
  margin: auto 10px;
  @include r.media-mobile {
    margin: 0;
  }
}

.profile_text {

  @include t.article;
  margin: 0 10px;
  @include r.media-mobile {
    margin: 20px 0;
  }

  p {
    margin-top: 0;
    $size: 16px;
    font-size: $size;
    svg {
      display: inline;
      height: $size;
      vertical-align: baseline;
    }
  }
}
