@use './colors.scss' as c;
@use './responsive.scss' as r;

%color { color: c.$black; }

/* text roles */
@mixin heading {
  @extend %color;

  font-family: 'Signika Negative', sans-serif;
  line-height: 2;
}

@mixin article {
  @extend %color;

  font-family: 'Work Sans', sans-serif;
  line-height: 1.6;
}

@mixin link {
  @include article;

  transition: color .4s ease-out;
  @include r.media-pc {
    &:hover {
      color: c.$dark-primary;
    }
  }
  @include r.media-mobile {
    &:active {
      color: c.$dark-primary;
    }
  }
}
