@use "../../../../constants/style.scss" as c;

.h2 {
  color: c.$color-text-primary;
  font-family: var(--font-signika-negative), sans-serif;
  font-size: 26px;
  line-height: 1.2;

  @include c.mq-pc {
    line-height: 1.5;
  }
}
