@use '../responsive.scss' as r;
@use '../texts.scss' as t;

.sns_link_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;

  padding: 0 1em;
  @include r.media-pc {
    padding: 0 10em;
  }

  & > * {
    margin-top: 20px;
  }
}

.credit {
  @include t.article;

  width: 100%;
   margin: 20px auto 10px;
    text-align: center;
}