@use '../responsive.scss' as r;
@use '../texts.scss' as t;
@use '../colors.scss' as c;

// sns list

.sns_link_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;

  padding: 0 1em;
  @include r.media-pc {
    padding: 0 10em;
  }
}

.sns_link_list__link {
  margin-top: 20px;
  text-decoration: none;
}

.sns_link_list__icon {
  width: 30px !important; // fort-awesomeのスタイルを打ち消すため
  height: 30px;
  color: c.$black;
}

// credit

.credit {
  @include t.article;

  width: 100%;
  margin: 20px auto 10px;
  text-align: center;
}