@use '../responsive.scss' as r;
@use '../texts.scss' as t;

.sns_link_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;

  margin-bottom: 10px;
}

.sns_link_list__link {
  margin-right: 20px;
  text-decoration: none;

  @include t.link;
}

.sns_link_list__icon {
  width: 24px !important; // fort-awesomeのスタイルを打ち消すため
  height: 24px;
}