@use '../responsive.scss' as r;
@use '../texts.scss' as t;

.sns_link_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;

  padding: 0 1em;
  @include r.media-pc {
    padding: 0 10em;
  }
}

.sns_link_list__link {
  margin-top: 20px;
  text-decoration: none;

  @include t.link;
}

.sns_link_list__icon {
  width: 30px !important; // fort-awesomeのスタイルを打ち消すため
  height: 30px;
}