@keyframes icon-shape {
    0% {
        border-radius: var(--radius-0, 58px);
    }
    12% {
        border-radius: var(--radius-1, 67px) var(--radius-2, 48px) var(--radius-3, 62px) var(--radius-4, 54px);
    }
    25% {
        border-radius: var(--radius-5, 72px) var(--radius-6, 45px) var(--radius-7, 72px) var(--radius-8, 45px);
    }
    37% {
        border-radius: var(--radius-9, 51px) var(--radius-10, 69px) var(--radius-11, 48px) var(--radius-12, 66px);
    }
    50% {
        border-radius: var(--radius-13, 45px) var(--radius-14, 72px) var(--radius-15, 45px) var(--radius-16, 72px);
    }
    62% {
        border-radius: var(--radius-17, 64px) var(--radius-18, 52px) var(--radius-19, 70px) var(--radius-20, 49px);
    }
    75% {
        border-radius: var(--radius-21, 65px) var(--radius-22, 50px) var(--radius-23, 65px) var(--radius-24, 50px);
    }
    87% {
        border-radius: var(--radius-25, 47px) var(--radius-26, 71px) var(--radius-27, 53px) var(--radius-28, 68px);
    }
    100% {
        border-radius: var(--radius-0, 58px);
    }
}