@use '../../responsive.scss' as r;

.img {
  width: 180px;
  height: 180px;

  border-radius: 15px 7px;

  object-fit: cover;

  @include r.media-mobile {
    width: 100%;
    height: calc(100vw / 8 * 3); // 縦横比 3/8に寄せたい
    border-radius: 15px 7px;
  }
}
