@use "../../../../constants/style.scss" as c;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100svh;

  &__inner {
    // sp
    width: calc(100% - 48px);

    // tablet
    @include c.mq-tablet {
      width: c.$width-max-mobile;
      padding: 0;
    }

    // pc
    @include c.mq-pc {
      width: c.$width-max-tablet * 0.9;
      padding: 0;
    }
  }
}
