// breakpoints
$max-mobile-size: 380px;
$max-tablet-size: 979px;
$default-page-width: $max-tablet-size + 1px;

// colors
$color-black: #141414;
$color-transparent-black: rgba(0, 0, 0, 0.56);
$color-white: #ffffff;
$color-primary: #f40622;