@use "../../../constants.scss" as c;

.root {
  color: c.$color-text-link;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  text-decoration: underline;

  &:hover {
    color: c.$color-text-link__hover;
  }
}
