@import 'styles/responsive.scss';
@import 'styles/color.scss';

// === wrapper ===

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media #{$unless-pc} {
    flex-direction: column;
  }
}

// === profile img ===

.imgContainer {
  //display: flex;
  width: $laptop-max * 0.2;
  margin: 10px;
  //flex-shrink: 0;
  @media #{$if-laptop} {
    width: $tablet-max * 0.2;
  }
  @media #{$unless-pc} {
    width: 42.5vw;
    height: 42.5vw;
  }
}

// === description, links,,,,

.descriptionContainer {
  width: $laptop-max * 0.5;
  margin: 10px;

  @media #{$unless-pc} {
    width: 100%;
  }
}
