@use '../responsive.scss' as r;
@use '../variables.scss' as v;

.container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;

  width: 100%;
  height: 100%;

  @include r.media-pc {
    width: v.$content-width-pc;
  }
}

.main {
  flex-grow: 1;
}
