@use "../../../constants/style.scss" as c;

.icon {
  width: 100%;
  height: 100%;
  transition: color .35s;
  color: c.$color-text-primary__sub;

  &[data-is-button="1"] {
    &:hover {
      color: c.$color-text-link;
    }
  }
}
