@use "./constants.scss" as c;

html {
  width: 100%;
  height: 100%;
  background-color: c.$color-bg-white;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* stylelint-disable selector-id-pattern */
div#__next {
  height: 100%;
}
