html, body, #__next /* nextjs ui container */ {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

/* text roles */
.heading {
  margin: 0;
  padding: 12px 0 0 0;
  line-height: 2;
  font-family: 'Mukta', sans-serif;
}

.text {
  margin: 0;
  padding: 6px 0 0 0;
  line-height: 1.6;
  font-family: 'Spectral', serif;
}
