name: Test Renovate

on:
  pull_request:
    paths:
      - renovate.json
      - .github/workflows/test-renovate.yml
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@v5.0.0
      - name: Test Renovate
        run: npx --package renovate -c 'renovate-config-validator'
