name: Test Renovate

on:
  pull_request:
    paths:
      - renovate.json
      - .github/workflows/test-renovate.yml
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@v4.4.0
      - name: Test Renovate
        run: npx --package renovate -c 'renovate-config-validator'
