name: Test GitHub Actions

on:
  pull_request:
    paths:
      - '.github/**'
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: wearerequired/lint-action@v2.3.0
