name: Test GitHub Actions

on:
  pull_request:
    paths:
      - '.github/**'
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: wearerequired/lint-action@v2.3.0
