name: Test Renovate

on:
  pull_request:
    paths:
      - renovate.json
      - .github/workflows/test-renovate.yml
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@v6.1.0
      - name: Test Renovate
        run: npx --package renovate -c 'renovate-config-validator'
