name: Test App

on:
  pull_request:
    branches:
      - main # should pass tests prior to deploying
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: nasustim/get-mise-version-action@v1.0.0
        id: get-mise-version
        with:
          tool-name: nodejs
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ steps.get-mise-version.outputs.version }}
          cache: npm
      - run: npm ci
      - run: npm run test
      - run: npm run build
      - run: npm run lint:ci
