.container {

  display: flex;
  //border-radius: 50% 25% 30% 65% / 19% 20% 25% 78%;
  overflow: hidden;

  transition: border-radius 5s ease-in-out;

  background-clip: content-box;
}

.img {
  width: 100%;
  height: 100%;
}