@import 'responsive.scss';
@import 'color.scss';

.container {

  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.item {

  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;

  svg, path {
    transition: color 0.2s ease-out, filter 0.4s ease-in-out;
    color: $color-black;
    font-size: 38pt;
    @include responsive-link {
      color: $color-secondary;
      filter: drop-shadow(0px 0px 3px $color-primary);
    }

    @media #{$unless-pc} {
      font-size: 30pt;
    }
  }
}