.container {
  top: 0;
  left: 0;
  width: 100%;

  &, & * {
    vertical-align: bottom;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  filter: grayscale(100);
  /* enabled 3d rendering for firefox, its bad solution */
  transform: rotate3d(0, 0, 0, 0.0001deg);
  outline: 1px solid transparent;
  transition: all 250ms ease-out;
  will-change: filter, border;

  .highlight {
    position: absolute;
    top: 0;
    height: 100%;

    background-color: red;
  }
}

.topFigImg {
  position: relative;
  top: 0;
  left: 0;
}
.topFigCaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  transition: all 250ms ease-in-out;
  will-change: opacity;

  div {
    h3 {
      text-align: center;
      font-weight: bold;
      color: #3d3d3d;
      -webkit-text-stroke: 1px #ffffff;
      text-stroke: 1px #ffffff;
    }
  }
}

.pcContainer {
  &:hover {
    filter: grayscale(0);
  }
}
.spContainer {
  &:active {
    filter: grayscale(0);
  }
}
.pcCaption {
  &:hover {
    opacity: 100;
  }
}
.spCaption {
  &:active {
    opacity: 100;
  }
}
